@media only screen and (max-width: 1780px){
    .register__btn-section{
        margin-right: 200px;
    }
    .register__form{
        left: 20%;
    }
}



@media only screen and (max-width: 1630px) {

    .arrow-to__header {
        right: 0% !important;
        top: 4% !important;
    }
    .review__third{
        right: -50px !important;
    }
    .certificate__slider{
        padding: 0;
    }

    .register__btn-section{
        margin-right: 250px;
    }

}

@media only screen and (max-width: 1575px) {
    .doctor__icons{
        right: 2% !important;
    }

    .you__need-section{
        width: 100% !important;
    }
}


@media only screen and (max-width: 1530px){
    .address__contact-inner{
        padding: 30px 50px;
    }
    .address__contact-info{
        flex: 100%;
        margin-bottom: 20px;
    }
    .address__contact-radios{
        margin-left: 0;
        flex: 100%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1435px){
    .minute{
        font-size: 55px !important;
        line-height: 70px !important;
    }
    .doctor__icons{
        right: 0% !important;
    }

    .registration__title{
        font-size: 50px !important;
    }

    .registration__title-info{
        font-size: 25px !important;
    }

    .register__btn-section{
        margin-right: 180px !important;
    }

    .representation__title-text{
        font-size: 34px !important;
    }

    .karr__title{
        font-size: 50px !important;
    }

    .about__karr-text{
        width: 70%;
    }

    .slider-title__for-mobile .representation__title{
        font-size: 70px !important;
    }

    .certificate__slider-inner{
        margin-left: -40px;
    }
}

@media only screen and (max-width: 1400px){
    body.experts{
        overflow-x: hidden;
    }
    body.experts::after{
        content: none;
    }
    .our__experts-item{
        width: 100%;
    }
    .address__city-info{
        padding: 50px 90px 0 60px;
    }
    .certificate__slider-inner{
        margin-left: 0;
    }
    
}

@media only screen and (max-width: 1345px){
    .doctor__icons{
        right: -3% !important; 
        bottom: 10px !important;
    }
    .doctor__well-img{
        left: -50px;
    }
    .register__form{
        width: 25%;
    }
    .registration__title{
        font-size: 45px !important;
    }
}

@media only screen and (max-width: 1230px){
    .about{
        display: block !important;
    }

    .course__info{
        width: 100% !important;
    }

    .course__title{
        font-size: 24px;
        text-align: center;
    }

    .course__title::after{
        left: 50% !important;
        transform: translateX(-50%);
        width: 59%;
    }

    .you__need{
        font-size: 16px;
        text-align: center;
    }

    .you__need-section{
        width: 100% !important;
        justify-content: space-around !important;
        margin-top: 40px;
    }

    .more__info-btn{
        position: relative;
        bottom: -900px;
        left: 50%;
        transform: translateX(-50%);
    }

    .more__info-btn:hover{
        transform: translateX(-50%) scale(1.1);
    }

    .doctor__img{
        margin: -80px auto -60px;
        display: flex;
        justify-content: center;
    }

    .review__first{
        right: auto !important;
        left: 20%;
        top: 300px !important;
    }

    .review__second{
        right: auto !important; 
        left: 60%;
        top: 270px !important;
    }

    .review__third{
        right: auto !important;
        left: 67%;
    }

    .doctor__img::after{
        left: 70% !important;
    }


    .doctor__icons{
        bottom: -50px !important;
        left: 53% !important;
        transform: translateX(-50%);
    }

    .arrow-to__header{
        display: none;
    }

    .arrow-to__header-mobile{
        display: block !important;
        position: absolute;
        right: 20%;
        top: 11%;
        z-index: -1;
        transform: scale(2.2);
    }

    .representation__title{
        font-size: 35px !important;
        padding: 0 15px;
    }

    .representation__title.schedule__title{
        margin-top: 300px !important;
    }

    .representation__title-info{
        font-size: 30px !important;
    }

    .tabs label:last-child{
        margin-left: 60px !important;
    }

    .tab__btn-2{
        margin-left: 0px !important;
    }

    .customers thead th{
        font-size: 14px !important;
        font-weight: 600 !important;
    }

    .customers tr{
        font-size: 14px !important;
        font-weight: 600 !important;
    }

    .customers .reg__btn{
        display: none;
    }

    .btn__icon{
        display: block !important;
        background: transparent;
        border: none;
        cursor: pointer;
        height: 80px;
        width: 80px;
    }

    .registration__section{
        background: linear-gradient(106.78deg, #5CC1D3 9.14%, #064F89 96.46%);
        display: flex !important;
        width: 110% !important;
        margin-left: -30px !important;
        height: 400px;
    }

    .doctor__well-img{
        height: auto !important;
    }

    
    .doctor__well-img img {
        height: 80%;
        margin-left: -60px;
        position: relative;
        top: 80px;
        left: 100px;
    }

    .registration__form-reg{
        background: transparent !important;
        width: 100% !important;
        position: static !important;
        height: 100px !important;
    }

    .register__form{
        width: 100% !important;
        left: -150% !important;
        top: 140% !important;
    }

    .register__form::before{
        left: 75px !important;
    }

    .register__form::after{
        left: 75px !important;
    }

    .register__form input{
        margin-left: 60px;
    }
    
    .another__time{
        display: none;
    }



    .register__btn-section{
        margin-top: 0px !important;
        position: relative;
        margin-right: 0 !important;
        right: 20%;
    }

    .register__btn-section .reg__btn{
        font-size: 12px !important;
        padding: 21px 30px 21px 30px;
        float: none;
        display: block;
        margin: 0 auto;
    }

    .for__mobile .representation__title{
        margin-top: 120px !important;
    }

    .register__btn-section input.reg__btn{
        margin-left: auto;
    }

    .representation__title-text{
        font-size: 24px !important;
    }
    .tab-btn-3{
        margin-left: 40px !important;
    }

    .tabs__another label{
        margin-left: 110px !important;
        padding: 21px 30px 21px 30px !important;
    }

    .tabs__another div{
        position: static !important;
    }
    .tab__btn-4{
        margin-left: 0px !important;
    }

    .customers thead th{
        font-size: 14px !important;
        font-weight: 600 !important;
    }

    .customers tr{
        font-size: 14px !important;
        font-weight: 600 !important;
    }

    .customers .reg__btn{
        display: none;
    }

    .allen-karr__info{
        display: none !important;
    }

    .allen-karr__info-mobile{
        display: block !important;
    }

    .karr__title{
        font-size: 40px !important;
        text-align: center;
        margin-bottom: 40px;
    }

    .karr__inner{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 40px;
    }

    .karr{
        display: block !important;
        width: 45%;
    }

    .karr__image{
        height: auto;
        width: 100% !important;
    }

    .karr__image img{
        width: 100%;
        height: 100%;
        float: right;
    }

    .karr__name{
       text-align: center;
    }

    .who__karr{
        text-align: center;
        font-size: 24px !important;
        font-weight: 700;
    }

    .about__karr-text{
        width: 100%;
    }

    
    .certificate{
        width: 45%;
    }

    .certificate img{
        width: 100%;
        height: 100%;
        padding: 40px;
    }

    .about__allen-karr{
        margin: 0 auto;
        width: 100%;
    }

    .certificate__slider .swiper-wrapper .swiper-slide{
        display: flex;
        justify-content: center;
    }
    
}

@media only screen and (max-width: 1100px){
    .swiper-slide img{
        width: 100%;
    }
    .register__form{
        width: 80% !important;
        left: -120% !important;
    }
}


@media only screen and (max-width: 991px){
    .address__social-link{
        width: 120px;
        height: 120px;
    }
    .address__social-img{
        width: 60px;
    }
    .address__city-item{
        flex-direction: column;
    }
    .address__city-info{
        width: 100%;
    }
    .address__city-img{
        width: 100%;
    }
    .address__city-img img{
        height: auto;
        object-fit: cover;
        width: 100%;
    }
    .address__city-item:last-child{
        flex-direction: column-reverse;
    }
    .address__contact{
        margin-top: 100px;
    }
    .address__contact-title{
        font-size: 80px;
    }
    .about__karr-text ul li{
        font-size: 18px;
        line-height: 26px;
    }
    .register__form{
        width: 100% !important;
        left: -30% !important;
        top: 80% !important;
    }
    .register__btn-section {
        right: 10% !important;
        margin-top: 80px !important;
    }
}

@media only screen and (max-width: 768px){
    .wrapper{
        padding: 0;
    }
    .experts__title{
        font-size: 60px;
    }
    .our__experts{
        display: none;
    }
    .our__experts_mobile{
        display: block;
    }
    .our__experts_mobile-inner{
        margin-bottom: 20px;
    }
    .our__experts_mobile-item{
        padding: 20px;
        background-color: #fff;
        box-shadow: -4px 7px 30px rgba(26, 112, 148, 0.2);
        border-radius: 20px;
        margin-bottom: 20px;
    }
    .our__experts_mobile-top{
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    .our__experts_mobile-promo{
        margin-bottom: 15px;
        margin-right: 15px;
    }
    .our__experts_mobile-avatar{
        margin-bottom: 20px;
        width: 100%;
    }
    .our__experts_mobile-social{
        display: flex;
        justify-content: space-evenly;
    }
    .our__experts-social_img{
        width: 80%;
    }
    .our__experts_mobile-title{
        font-weight: 400;
        font-size: 26px;
        line-height: 35px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    .our__experts_mobile-name{
        font-weight: 800;
        font-size: 30px;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    .our__experts_mobile-certificate{
        display: block;
        margin: 0 auto;
        padding: 20px 10px 0;
        width: 60%;
    }
    .our__experts_mobile-text{
        font-weight: 300;
        font-size: 26px;
        line-height: 35px;
        text-align: justify;
        color: #262544;
    }
    body.addresses::after{
        top: 1700px;
    }
    .address__hero{
        padding: 30px 20px;
    }
    .address__social-list{
        flex-wrap: wrap;
    }
    .address__social-item{
        margin-bottom: 20px;
        flex: auto;
    }
    .address__city{
        margin: 0 30px;
        background: transparent;
    }
    
    .address__contact-title{
        font-size: 60px;
    }
    .address__contact-inner{
        margin: 0 30px;
    }
    
    .representation__title-info{
        padding: 0 15px;
    }

    .address__city-inner{
        filter: none;
        box-shadow: none;
        border-radius: none;
    }
    .address__city-item{
        margin-bottom: 20px;
        border-radius: 20px;
        filter: drop-shadow(0px 10px 20px rgba(54, 58, 120, 0.1));
        box-shadow: 0px 10px 20px rgb(54 58 120 / 10%);
        border-radius: 20px;
        background: #fff;
    }
    .address__city-info{
        padding: 20px 30px 25px;
        text-align: center;
    }
    .address__city-img img{
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        margin-bottom: -5px;
    }


    .about{
        display: block !important;
    }

    .course__info{
        width: 100% !important;
    }

    .course__title{
        font-size: 24px !important;
        text-align: center;
    }

    .you__need{
        font-size: 16px;
        text-align: center;
    }

    .you__need-section{
        width: 100% !important;
    }

    .minute{
        font-size: 32px !important;
        line-height: 40px !important;
    }

    .minute__info{
        font-size: 16px !important;
        line-height: 24px !important;
    }

    .more__info-btn{
        position: relative;
        bottom: -855px;
    }

    .doctor__img{
        margin-left: -60px;
        margin-top: -80px;
    }

    .review__first{
        left: 0 !important;
        top: 350px !important;
    }

    .review__third{
        left: 62%;
    }

    .arrow-to__header{
        display: none;
    }

    .arrow-to__header-mobile{
        display: block !important;
        position: absolute;
        right: 10%;
        top: 11%;
        z-index: -1;
        transform: scale(2.2);
    }

    .representation__title{
        margin-top: 120px !important;
        font-size: 35px !important;
    }

    .representation__title-info{
        font-size: 35px !important;
    }
    .tabs label:last-child{
        margin-left: 20px !important;
    }
    .tab__btn-2{
        margin-left: 0px !important;
    }

    .customers thead th{
        font-size: 14px !important;
        font-weight: 600 !important;
    }

    .customers tr{
        font-size: 14px !important;
        font-weight: 600 !important;
    }

    .customers .reg__btn{
        display: none;
    }

    .registration__section{
        background: linear-gradient(106.78deg, #5CC1D3 9.14%, #064F89 96.46%);
        display: flex !important;
        width: 110% !important;
        margin-left: -30px !important;
        height: 400px;
    }

    .register__btn-section{
        right: 20% !important;
    }

    .doctor__well-img{
        height: auto !important;
    }

    
    .doctor__well-img img {
        height: 80%;
        margin-left: -60px;
        position: relative;
        top: 80px;
    }

    .register__form{
        left: -20% !important;
    }

    .register__form::before{
        left: 75px !important;
    }

    .register__form::after{
        left: 75px !important;
    }

    .register__form input{
        width: 100% !important;
        margin-left: 0 !important;
    }

    .register__form::before,
    .register__form::after{
        left: 15px !important;
    }

    
    .another__time{
        display: none;
    }

    .register__btn-section .reg__btn{
        font-size: 12px !important;
        padding: 21px 30px 21px 30px;
        float: none;
        display: block;
        margin: 0 auto;
    }

    .for__mobile .representation__title{
        margin-top: 120px !important;
    }

    .representation__title-text{
        font-size: 24px !important;
    }

    
    .tabs label{
        padding: 20px 50px !important;
    }

    .tab-btn-3{
        margin-left: 40px !important;
    }

    .tabs__another>label{
        margin-left: 80px !important;
        padding: 21px 30px 21px 30px !important;
    }

    .tabs__another>div{
        width: 100% !important;
        position: static !important;
    }

    .tab__btn-4{
        margin-left: 0px !important;
    }

    .customers thead th{
        font-size: 14px !important;
        font-weight: 600 !important;
    }

    .customers tr{
        font-size: 14px !important;
        font-weight: 600 !important;
    }

    .customers .reg__btn{
        display: none;
    }

    .allen-karr__info{
        display: none !important;
    }

    .allen-karr__info-mobile{
        display: block !important;
    }

    .karr__title{
        font-size: 40px !important;
        text-align: center;
        margin-bottom: 40px;
        padding: 0 15px;
    }

    .karr__inner{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 40px;
    }

    .karr{
        display: block !important;
        width: 45%;
    }

    .karr__image{
        height: auto;
        width: 100% !important;
    }

    .karr__image img{
        width: 100%;
        height: 100%;
        float: right;
    }

    .karr__name{
       text-align: center;
    }

    .who__karr{
        text-align: center;
        font-size: 24px !important;
        font-weight: 700;
    }

    .certificate{
        width: 45%;
    }

    .certificate img{
        width: 100%;
        height: 100%;
        padding: 40px;
    }

    .about__allen-karr{
        margin: 0 auto;
        width: 87%;
    }

    .certificate__slider .swiper-wrapper .swiper-slide{
        display: flex;
        justify-content: center;
    }

    .slider-title__for-mobile .representation__title{
        margin-top: 60px !important;
        font-size: 60px !important;
    }

    .swiper-slide img{
        width: auto;
    }
    .swiper-button-prev{
        left: 10px !important;
    }
    .swiper-button-next{
        right: 10px !important;
    }

}

@media only screen and (max-width: 668px){
    .our__experts_mobile-title{
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 0;
    }
    .our__experts_mobile-name{
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 0;
    }
    .our__experts_mobile-text{
        font-size: 20px;
        line-height: 30px;
    }
    .address__city-title{
        font-size: 36px;
        line-height: 45px;
    }
    .address__title{
        font-size: 60px;
        line-height: 1.2em;
    }
    .address__contact-inner{
        padding: 10px 30px;
    }
    .address__contact-form_title{
        font-size: 24px;
        line-height: 30px;
    }
    .address__contact-info label{
        display: block;
        width: 75%;
        margin: 0 auto;
    }
    .arrow-to__header-mobile{
        top: -15% !important;
        transform: scale(1.5);
        right: 10% !important;
    }

    .doctor__img{
        margin-top: -135px !important;
        left: 0;
    }
    .doctor__img img{
        width: 80%;
    }
    .doctor__img::after {
        left: 75% !important;
    }
    .doctor__icons{
        transform: scale(0.8) !important;
        left: auto !important;
        right: -10% !important;
        bottom: -120px !important;
    }

    .review__first{
        top: 230px !important;
    }

    .review__second{
        top: 220px !important;
        left: auto;
        right: -40px !important;
    }

    .review__third{
        top: 320px !important;
        left: auto;
        right: -50px !important;
    }

    .more__info-btn{
       bottom: -600px;
    }

    .tabs label{
        padding: 21px 30px 21px 30px !important;
    }

    .registration__section{
        width: 120% !important;
        margin-top: 0;
    }

    .for__mobile{
        margin-top: -50px;
    }

    .register__form{
        left: -30% !important;
    }

    .doctor__well-img{
        left: -100px;
    }

    .register__btn-section{
        right: 30% !important;
    }
    .tabs__another>label{
        margin-left: 60px !important;
    }

    .karr__inner{
        display: block;
    }

    .certificate{
        width: 100% !important;
    }

    .karr{
        width: 100%;
    }
    .slider-title__for-mobile .representation__title {
        font-size: 50px !important;
    }
}

@media only screen and (max-width: 576px){
    .our__experts_mobile-title{
        font-size: 14px;
        line-height: 19px;
    }
    .our__experts_mobile-name{
        font-size: 16px;
        line-height: 22px;
    }
    .our__experts_mobile-text{
        font-size: 14px;
        line-height: 19px;
    }
    .doctor__icons{
        left: auto !important;
        right: 0 !important;
        bottom: -40px !important;
        height: 500px !important;
        width: 500px !important;
        transform: scale(1) !important;
    }

    .doctor__icons:after,
    .doctor__icons:before,
    .doctor__icons-icon:after,
    .doctor__icons-icon::before{
        width: 70px !important;
        height: 70px !important;
        background-size: cover;
    }
    

    .review__first{
        top: 180px !important;
        transform: scale(0.6);
        left: -40px !important;
    }

    .review__second{
        transform: scale(0.6);
        top: 150px !important;
    }

    .review__third{
        transform: scale(0.6);
        top: 250px !important;
    }

    .more__info-btn{
        bottom: -520px;
    }
    .tabs__another > label {
        margin-left: 15px !important;
    }

    .doctor__well-img{
        left: -50px;
    }

    .register__form{
        width: 70% !important;
        left: 10% !important;
    }

    .register__btn-section{
        right: 5% !important;
    }

    .privacy-policy__text{
        width: 50%;
        margin: 10px auto 0;
        font-size: 12px;
    }

    .privacy-policy__text br{
        display: none;
    }


    .about__karr-text ul li{
        font-size: 14px;
        line-height: 22px;
    }
    .about__allen-karr{
        width: 100%;
    }

    .slider-title__for-mobile .representation__title {
        font-size: 40px !important;
    }
    .swiper-slide img{
        width: 80%;
    }

}

@media only screen and (max-width: 550px){

    .doctor__icons{
        right: -20px !important;
    }

    .privacy-policy__text{
        font-size: 14px !important;
    }

    .tabs__another > label {
        margin-left: 0px !important;
    }
}

@media only screen and (max-width: 490px) {

    .representation__title.schedule__title{
        margin-top: 240px !important;
    }

    .more__info-btn{
        bottom: -420px;
        font-size: 12px !important;
        line-height: 18px !important;
        padding: 20px 40px !important;
    }

    .doctor__img::after {
        top: 16% !important;
    }

    .tabs label:last-child{
        margin-left: 27px !important;
    }

    .tabs__another > label {
        padding: 15px 10px 15px 10px !important;
        margin-left: 8px !important;
    }

    .register__form {
        top: 50% !important;
    }

    .register__btn-section {
        margin-top: 50px !important;
    }

    .slider-title__for-mobile .representation__title {
        font-size: 30px !important;
    }
}

@media only screen and (max-width: 480px){
    .address__city{
        margin: 0 30px;
    }
    .address__title{
        font-size: 36px;
        line-height: 1em;
        margin-bottom: 20px;
    }
    .address__info{
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 20px;
    }
    .address__social-link{
        width: 90px;
        height: 90px;
    }
    .address__social-img{
        width: 35px;
    }
    .address__social-txt{
        font-size: 16px;
        line-height: 22px;
    }
    .address__city-title{
        font-size: 24px;
        line-height: 33px;
    }
    .address__city-txt{
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 30px;
    }
    .address__city-btn{
        margin-bottom: 0;
    }
    .address__city-link{
        font-size: 12px;
        line-height: 15px;
        padding: 15px 30px;
    }

    .review__second{
        top: 120px !important;
    }

    .review__third{
        top: 220px !important;
    }

    .doctor__img::after{
        left: auto !important;
        right: -30px !important;
        font-size: 13px !important;
    }
    .doctor__icons{
        right: 0 !important;
        height: 400px !important;
        width: 400px !important;
    }

    .doctor__icons:after,
    .doctor__icons:before,
    .doctor__icons-icon:after,
    .doctor__icons-icon::before{
        width: 50px !important;
        height: 50px !important;
    }

    #content-1,
    #content-2,
    #content-3,
    #content-4{
        padding: 0 !important;
    }
    .tabs__title{
        flex-direction: column;
    }
    .tabs label:last-child{
        margin-left: 0 !important;
    }
    .tabs{
        padding: 0 15px;
    }
    .customers tbody tr{
        height: 50px !important;

    }
    .customers tr td{
        font-size: 10px;
        padding: 10px;
    }
    .customers tr td .btn__icon{
        height: 50px !important;
        width: 50px !important;
    }
    .customers tr th{
        font-size: 12px !important;
    }
    .btn__icon{
        transform: scale(0.8);
    }
    
}

@media only screen and (max-width: 470px){

    .representation__title-info {
        font-size: 20px !important;
        line-height: 25px !important;
    }
    
    .representation__title-clock img{
        height: 25px;
    }

    .tabs__another > label {
        margin-left: 2px !important;
    }

    .slider-title__for-mobile .representation__title {
        font-size: 24px !important;
    }
}



@media only screen and (max-width: 430px) {

    .more__info-btn{
        bottom: -350px !important;
    }

    .arrow-to__header-mobile{
        top: -30% !important;
        right: 20% !important;
    }

    .doctor__reviews{
        margin-top: 20px;
    }

    .doctor__icons{
        right: 7% !important;
        height: 350px !important;
        width: 350px !important;
        bottom: -20px !important;
    }

    .review__first{
        top: 150px !important;
    }

    .review__second{
        top: 100px !important;
        right: -70px !important;
    }

    .review__third{
        top: 200px !important; 
    }

    .register__form{
        width: 100% !important;
        left: -10% !important;
    }

    .register__btn-section{
        right: 10% !important;
    }

    .privacy-policy__text{
        width: 100%;
    }

    .registration__form-reg {
        width: 85% !important;
    }

    .doctor__well-img{
        left: -150px;
    }

    .representation__title-text {
        font-size: 20px !important;
    }
    .wrapper{
        padding: 50px 15px !important;
    }
    .customers{
        display: block;
    }
    .tabs{
        padding: 0;
    }

    .tabs__another > label {
        margin-left: 80px !important;
    }
    .karr__title {
        font-size: 30px !important;
    }
}

@media only screen and (max-width: 400px) {
    .arrow-to__header-mobile {
        transform: scale(1);
        right: 10% !important;
    }

    .doctor__img::after {
        top: 18% !important;
        font-size: 12px !important;
    }

    .doctor__icons{
        right: 3% !important;
    }

    .review__first{
        top: 130px !important;
        left: -80px !important;
    }
    
    .review__third{
        top: 170px !important; 
    }

    .representation__title {
        margin-left: 20px;
        font-size: 25px !important;
    }

    .representation__title-info {
        margin-left: 20px;
    }

    #tab-btn-1{
        margin-left: 82px !important;
    }

    .registration__form-reg {
        width: 80% !important;
    }

    .register__form {
        left: -15% !important;
    }

    .tabs__another > label {
        margin-left: 70px !important;
    }
}

@media only screen and (max-width: 370px){
    .doctor__icons{
        right: 0 !important;
    }
    .review__third{
        right: -80px !important;
    }

    .doctor__img::after{
        width: 110px !important;
        right: 0 !important;
    }

    .more__info-btn {
        bottom: -330px !important;
    }

    .registration__form-reg {
        width: 78% !important;
    }

    .register__form {
        left: -18% !important;
    }

    .tabs__another > label {
        margin-left: 55px !important;
    }
}

@media only screen and (max-width: 350px){
    .wrapper{
        padding: 50px 10px !important;
    }
    .minute {
        font-size: 20px !important;
        line-height: 26px !important;
    }

    .minute__info {
        font-size: 12px !important;
        line-height: 18px !important;
    }

    .doctor__img {
        margin-top: -100px !important;
    }

    .more__info-btn a {
        font-size: 18px !important;
    }

    .doctor__icons{
        width: 300px !important;
        height: 300px !important;
        right: 20px !important;
    }

    .doctor__icons:after,
    .doctor__icons:before,
    .doctor__icons-icon:after,
    .doctor__icons-icon::before{
        width: 40px !important;
        height: 40px !important;
    }

    .doctor__reviews{
        margin-top: 0;
    }


    .doctor__well-img{
        display: none
    }

    .registration__form-reg {
        width: 100% !important;
    }

    .register__form {
        left: 0% !important;
        width: 85% !important;
        margin-left: 25px;
    }

    .register__btn-section{
        right: 0 !important;
        padding: 0 15px;
    }

    .privacy-policy__text{
        padding: 0 15px;
    }

    .representation__title-text {
        line-height: 25px !important;
    }

    .representation__title {
        margin-left: 0px !important;
    }
}

@media only screen and (max-width: 330px){
    .doctor__icons{
        right: 10px !important;
    }
}

@media only screen and (max-width: 320px){
    .tabs__another > label {
        margin-left: 30px !important;
    }
}
