/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    color: #0F5B91;
    width: 100vw;
}



/* ----------------- Main CSS --------------------- */


/* --------------------- Experts ----------------------- */



/* ------------------ Test Header ---------------------------- */


.wrapper{
    max-width: 1650px;
    padding: 50px 30px;
    margin: 0 auto;
    overflow-x: hidden;
}

.wrapperSecond{
    overflow: hidden;
    margin: 0 auto;
}

.wrapperThird:last-child{
    padding: 250px 30px 0;
    margin: 0 auto;
    overflow-x: hidden;
    max-width: 1650px;
}


.wrapper main{
    position: relative;
    z-index: 100;
}

body.experts::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    background-image: url('../img/experts_elipse.png');
    height: 1173px;
    width: 1173px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background-repeat: no-repeat;
}


.testHeader{
    height: 180px;
    background-color: red;
    margin-bottom: 80px;
}

.our__experts_mobile{
    display: none;
}


.title{
    font-weight: 800;
    font-size: 96px;
    line-height: 1em;
    text-align: center;
    margin-bottom: 50px;
}

.title span{
    color: #FE9800;
}

.our__experts{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.our__experts-item{
    width: 48%;
    padding: 40px 45px 40px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #FFFFFF;
    -webkit-box-shadow: -4px 7px 30px rgba(26, 112, 148, 0.2);
            box-shadow: -4px 7px 30px rgba(26, 112, 148, 0.2);
    border-radius: 20px;
    margin-bottom: 60px;
}

.our__experts-promo{
    margin-right: 20px;
}

.our__experts-avatar{
    margin-bottom: 15px;
}

.our__experts-certificate{
    margin-bottom: 20px;
}

.our__experts-social{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.our__experts-info_title{
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.our__experts-info_name{
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.our__exprets-info_text{
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    text-align: justify;
    color: #262544;
}


/* ----------------------------- Page Address ----------------------------- */


body.addresses{
    position: relative;
}

body.addresses::after{
    content: '';
    position: absolute;
    top: 40%;
    left: 0;
    background-image: url('../img/address_circle1.png');
    height: 1500px;
    width: 1173px;
    background-repeat: no-repeat;
}

body.addresses::before{
    content: '';
    position: absolute;
    bottom: -5%;
    right: 0;
    background-image: url('../img/address_circle2.png');
    height: 1200px;
    width: 400px;
    background-repeat: no-repeat;
}

body{
    overflow-x: hidden;
}

.address__hero{
    padding: 50px 0;
}

.address__title{
    margin-bottom: 35px;
}

.address__info{
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    text-align: justify;
    color: #262544;
    margin-bottom: 35px;
}

.address__social{
    max-width: 1200px;
    margin: 0 auto;
}

.address__social-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.address__social-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    margin: 0 5px;
}

.address__social-link{
    padding: 55px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 10px 20px rgba(54, 58, 120, 0.1);
            box-shadow: 0px 10px 20px rgba(54, 58, 120, 0.1);
    border-radius: 50%;
    margin-bottom: 30px;
    display: inline-block;
    width: 190px;
    height: 190px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.address__social-txt{
    font-weight: 300;
    font-size: 24px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    color: #000000;
}



/* ----------------------- Address Cities ----------------------------- */

.address__city{
    position: relative;
    z-index: 1000;
    background-color: #fff;
    border-radius: 10px;
}

.address__city-circle{
    position: absolute;
    left: 0;
    top: 0;
}

.address__city-inner{
    -webkit-filter: drop-shadow(0px 10px 20px rgba(54, 58, 120, 0.1));
            filter: drop-shadow(0px 10px 20px rgba(54, 58, 120, 0.1));
    -webkit-box-shadow: 0px 10px 20px rgba(54, 58, 120, 0.1);
            box-shadow: 0px 10px 20px rgba(54, 58, 120, 0.1);
    border-radius: 10px;
}

.address__city-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.address__city-info{
    width: 50%;
    padding: 85px 140px 0 100px;
}

.address__city-img{
    width: 50%;
    overflow: hidden;
}

.address__city-img img{
    height: 100%;
}

.address__city-title{
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #0F5B91;
    margin-bottom: 25px;
}

.address__city-txt{
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    text-align: justify;
    color: #262544;
    margin-bottom: 60px;
}

.address__city-btn{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 80px;
}

.address__city-link{
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #262544;
    background: #FE9800;
    border-radius: 50px;
    padding: 25px 45px;
    text-decoration: none;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.address__city-link:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    color:#FFFFFF;
}

/* ------------------------- Address Contact form ----------------------------- */


.address__contact{
    margin-top: 160px;
}

.address__contact-title{
    margin-bottom: 45px;
}

.address__contact-inner{
    background: -o-linear-gradient(343.22deg, #5CC1D3 9.14%, #064F89 96.46%);
    background: linear-gradient(106.78deg, #5CC1D3 9.14%, #064F89 96.46%);
    -webkit-box-shadow: 0px 10px 20px rgba(54, 58, 120, 0.1);
            box-shadow: 0px 10px 20px rgba(54, 58, 120, 0.1);
    border-radius: 20px;
    padding: 30px 140px 40px 40px;
}

.address__contact-form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.address__contact-info{
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
}


.address__contact-form_title{
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}


.address__contact-info input,
.address__contact-info select{
    background: #FFFFFF;
    -webkit-box-shadow: 0px 10px 20px rgba(54, 58, 120, 0.1);
            box-shadow: 0px 10px 20px rgba(54, 58, 120, 0.1);
    border-radius: 20px;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: 20px 20px 20px 60px;
    outline: none;
    border: none;
    margin: 15px 0;
    font-family: 'Nunito Sans', sans-serif;
    color: #9092B0;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.02em;
}

.address__select{
    background-image: url('../img/select_icon.svg') !important;
    background-position: 20px center !important;
    background-repeat: no-repeat !important;
}

.address__contact-info label{
    position: relative;
    display: flex;
}

.address__contact-info label img{
    position: absolute;
    left: 20px;
    top: 50%;
    z-index: 100;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.address__contact-radios{
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    margin-left: 140px;
}

.address__contact-radio input{
    margin-right: 30px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.address__contact-radio{
    display: block;
    position: relative;
    padding-left: 60px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    margin-bottom: 27px;
}

.address__contact-checkmark{
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF; 
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    height: 34px;
    width: 34px;
    background-color: #eee;
    border-radius: 50%;
}

.address__contact-radio input:checked ~ .address__contact-checkmark {
    background-color: #fff;
}


.address__contact-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.address__contact-radio input:checked ~ .address__contact-checkmark:after {
    display: block;
}

.address__contact-radio .address__contact-checkmark:after {
    top: 6px;
    left: 6px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #FE9800;
}

.address__contact-bottom{
    width: 100%;
    text-align: center;
}

.address__contact-btn{
    font-weight: 600;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #262544;
    outline: none;
    padding: 20px 50px;
    background: #FE9800;
    border-radius: 50px;
    border: none;
    margin-bottom: 15px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.address__contact-btn:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    color:#FFFFFF ;
}

.address__contact-txt{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.005em;
    color: #FFFFFF;
}

.address__contact-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.005em;
    color: #FFFFFF;
}


/* --------------------- Long Page ------------------------- */

.reg__btn:hover{
    transform: scale(1.1);
    transition: 0.2s;
    color:#FFFFFF ;
}

.reg__btn:hover a{
    color:#FFFFFF !important;
}

.tabs label:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.tabs__another label:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.smoking__body::before{
    position: absolute;
    content: "";
    right: 0;
    top: 20%;
    background: url('../img/Ellipse\ 136.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 2500px;
    width: 100vw;
    z-index: -1;
}

.smoking__body::after{
    position: absolute;
    content: "";
    left: 0;
    top: 20%;
    background: url(/img/Ellipse\ 134.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 1173px;
    width: 100vw;
    z-index: -1;
}

.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    position: relative;
    z-index: 1000;
}

.course__info{
    width: 50%;
}

.course__title{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 100%;
    color: #0F5B91;
    position: relative;
}

.course__title::after{
    content: '';
    position: absolute;
    background-image: url('../img/smoking_hero-line.svg');
    background-repeat: no-repeat;
    bottom: -40px;
    left: 0;
    height: 5px;
    width: 74%;
}

.course__title span{
    color: #FE9800;
}

.you__need{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 126.9%;
    letter-spacing: 0.02em;
    color: #262544;
    margin-top: 70px;
}

.you__need-section{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 85%;
}

.need__section-info{
    margin-right: 20px;
}

.minute{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 87px;
    color: #0F5B91;
}

.minute span{
    color: #FE9800;
}

.minute__info{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 100;
    color: #000;
    font-size: 32px;
}

.more__info-btn{
    background: #FE9800;
    border-radius: 50px;
    border: none;
    padding: 21px 39px 21px 39px;
    margin-top: 50px;
    cursor: pointer;
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    display: inline-block;
    color: #262544;
    text-decoration: none;
    transition: 0.2s;
}

.more__info-btn:hover{
    transform: scale(1.1);
    color:#FFFFFF ;
}

.doctor__img{
    margin-top: -60px;
    position: relative;
}

.review__first{
    background: url('../img/smoking_hero-com1.png');
    background-size: cover;
    position: absolute;
    width: 283.46px;
    height: 128px;
    right: 400px;
    top: 250px;
}

.review__second{
    background: url('../img/smoking_hero-com2.png');
    background-size: cover;
    position: absolute;
    height: 119.73px;
    width: 283.46px;
    right: -60px;
    top: 220px;
}

.review__third{
    background: url('../img/smoking_hero-com2.png');
    background-size: cover;
    position: absolute;
    height: 119.73px;
    width: 283.46px;
    right: -100px;
    top: 400px;
    z-index: 10000;
}

.review__author{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 126.9%;
    color: #6C71A1;
    position: absolute;
    height: 18px;
    left: 50px;
    top: 30px;
}

.review__text{
    position: absolute;
    height: 20.37px;
    left: 50px;
    top: 45px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 126.9%;
    color: #262544;
}

.review__ratings{
    position: absolute;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    left: 40px;
    top: 65px;
}

.review__status{
    padding-left: 8px;
    padding-right: 8px;
    border: none;
    border-radius: 5px;
    background: #FE9800;
    position: absolute;
    right: 18%;
    top: 22px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 126.9%;
    text-align: center;
    color: #262544;
}

.review__status-second{
    padding-left: 8px;
    padding-right: 8px;
    border: none;
    border-radius: 5px;
    background: #262544;
    position: absolute;
    right: 18%;
    top: 22px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 126.9%;
    text-align: center;
    color: #fff;
}

.arrow-to__header{
    position: absolute;
    right: -100px;
    z-index: -1;
    top: -120px;
}

.doctor__icons{
    background: url('../img/smoking_hero-cyrcle.png');
    background-size: cover;
    height: 700px;
    width: 700px;
    position: absolute;
    bottom: -70px;
    left: 55%;
    transform: translateX(-50%);
}

.doctor__icons::after{
    content: '';
    position: absolute;
    background-image: url('../img/smoking_hero-icon1.svg');
    height: 100px;
    width: 100px;
    left: 5%;
    top: 73%;
}

.doctor__icons::before{
    content: '';
    position: absolute;
    background-image: url('../img/smoking_hero-icon2.svg');
    height: 100px;
    width: 100px;
    right: 5%;
    top: 73%;
}

.doctor__icons-icon::after{
    content: '';
    position: absolute;
    background-image: url('../img/smoking_hero-icon3.svg');
    height: 100px;
    width: 100px;
    right: 25%;
    top: 88%;
}

.doctor__icons-icon::before{
    content: '';
    position: absolute;
    background-image: url('../img/smoking_hero-icon4.svg');
    height: 100px;
    width: 100px;
    left: 25%;
    top: 88%;
}

.representation__title{
    margin-top: 120px;
    text-align: center;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 100%;
    text-align: center;
    color: #0F5B91;
}

.representation__title span{
    color: #FE9800;
}

.representation__title-info{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #262544;
    position: relative;
}

.representation__title-clock{
    vertical-align: sub;
}


.tabs {
    max-width: 100%;
    margin: 40px 0;
}

.tabs__title{
    display: flex;
    justify-content: center;
}


.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked+label {
    background-color: #FE9800;
    padding: 21px 100px 21px 100px;
    -webkit-filter: drop-shadow(0px 10px 20px rgba(26, 112, 148, 0.25));
            filter: drop-shadow(0px 10px 20px rgba(26, 112, 148, 0.25));
    border-radius: 40px;
}

.tabs #content-1 {
    padding: 10px 15px;
    border-radius: 4px;
    margin-top: 20px;
}

.tabs #content-2 {
    display: none;
    padding: 10px 15px;
    border-radius: 4px;
    margin-top: 20px;
}

.tabs #content-3{
    padding: 10px 15px;
    border-radius: 4px;
    margin-top: 20px;
}

.tabs #content-4 {
    display: none;
    padding: 10px 15px;
    border-radius: 4px;
    margin-top: 20px;
}
  
  

  /* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
  #tab-btn-1:checked #content-1,
  #tab-btn-2:checked #content-2 {
    display: block;
  }

  .tab__btn-1{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 126.9%;
    text-align: center;
    text-transform: uppercase;
    color: #262544;
  }

  .tab__btn-2{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 126.9%;
    text-align: center;
    text-transform: uppercase;
    color: #262544;
    margin-left: 155px;
  }

  .tabs label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color: transparent;
    border: 1px solid #FE9800;
    padding: 21px 100px 21px 100px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 40px;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    cursor: pointer;
    margin-bottom: 10px;
    z-index: 99;
    position: relative;
  }

  .tabs label:first-of-type {
    margin-left: 0;
  }

.customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-collapse: collapse; 
    border-radius: 20px;
    overflow:hidden;
    background: white;
    -webkit-box-shadow: -4px 7px 30px rgba(26, 112, 148, 0.2);
            box-shadow: -4px 7px 30px rgba(26, 112, 148, 0.2);
}

.customers thead{
    background: -o-linear-gradient(343.22deg, #5CC1D3 9.14%, #064F89 96.46%);
    background: linear-gradient(106.78deg, #5CC1D3 9.14%, #064F89 96.46%);
    background-size: cover;
    background-repeat: no-repeat;
}

.customers tr td{
    padding: 0 10px;
}

.customers thead th {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 126.9%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0 10px;
}

.customers tr {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 126.9%;
    text-align: center;
    text-transform: uppercase;
    color: #262544;
    height: 100px;
}
    
.customers tbody{
    background-color: #F1F1F1;
}

.customers tbody tr:nth-child(odd){
    background-color: #F1F1F1;
}

.customers tbody tr:nth-child(even){
    background-color: #FFF;
}
  
.customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
}

.reg__btn{
    background-color: #FE9800;
    padding: 21px 100px 21px 100px;
    border: none;
    border-radius:  40px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 126.9%;
    text-align: center;
    text-transform: uppercase;
    color: #262544;
    text-decoration: none;
    cursor: pointer;
}

.reg__btn a {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 126.9%;
    text-align: center;
    text-transform: uppercase;
    color: #262544;
    text-decoration: none;
}

.registration__section{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-top: 120px;
    display: block;
}

.doctor__well-img{
    height: 200px;
    width: 200px; 
    z-index: 1;
    position: relative;
}

.doctor__reviews{
    position: relative;
}

.registration__form{
    position: relative;
    height: 577px;
}

.another__time{
    margin-top: 140px;
}

.another__time .registration__title{
    position: relative;
    top: -170px;
    right: 20px;
}

.another__time .registration__title-info{
    position: relative;
    top: -165px;
    right: 30px;
}

.registration__title{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 100%;
    text-align: right;
    color: #262544;
}

.registration__title span{
    color: #FE9800;
}

.registration__title-info{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 147.4%;
    text-align: right;
    color: #262544;
}

.registration__form-reg{
    background: -o-linear-gradient(343.22deg, #064F89 9.14%, #5CC1D3 96.46%);
    background: linear-gradient(106.78deg, #064F89 9.14%, #5CC1D3 96.46%);
    width: 90%;
    height: 245px;
    position: absolute;
    bottom: 340px;
    right: 0;
    z-index: 0;
}

.register__form{
    position: relative;
    left: 25%;
    width: 30%;
    top: 25%;
}

.register__form input{
    padding: 22px 40px 20px 40px;
    border: none;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.register__form::before{
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background-image: url('../img/smoking_user.svg');
    background-size: contain;
    background-repeat: no-repeat;
    left: 15px;
    top: 18px;
}

.register__form::after{
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background-image: url('../img/smoking_phone.svg');
    background-size: contain;
    background-repeat: no-repeat;
    left: 15px;
    bottom: 38px;
}

.register__btn-section{
    float: right;
    margin-right: 150px;
    margin-top: -90px;
}

.privacy-policy__text{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.005em;
    color: #FFFFFF;
    margin-top: 20px;
}

.privacy-policy__text a {
    text-decoration: underline;
    color: white;
}

.representation__title-text{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #262544;
    position: relative;
}

.for__mobile{
    padding: 0 15px;
}

.for__mobile .representation__title{
    margin-top: -190px;
}


.tabs__another {
    max-width: 800px;
    margin: 40px auto;
    position: relative;
}

.tabs__another>input[type="radio"] {
    display: none;
}

.tabs__another>input[type="radio"]:checked+label {
    background-color: #FE9800;
    padding: 21px 100px 21px 100px;
    -webkit-filter: drop-shadow(0px 10px 20px rgba(26, 112, 148, 0.25));
            filter: drop-shadow(0px 10px 20px rgba(26, 112, 148, 0.25));
    border-radius: 40px;
}

.tabs__another>div {
    display: none;
    padding: 10px 15px;
    border-radius: 4px;
    margin-top: 20px;
    width: 80%;
    position: relative;
    left: -48%;
    right: auto;
    width: 200%;
}

  /* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-3:checked~#content-3,
#tab-btn-4:checked~#content-4 {
    display: block;
}

.tab__btn-3{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 126.9%;
    text-align: center;
    text-transform: uppercase;
    color: #262544;
}

.tab__btn-4{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 126.9%;
    text-align: center;
    text-transform: uppercase;
    color: #262544;
    margin-left: 20px;
}

.tabs__another>label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color: transparent;
    border: 1px solid #FE9800;
    padding: 21px 100px 21px 100px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 40px;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    cursor: pointer;
    margin-bottom: 10px;
}

.tabs__another> label:first-of-type {
    margin-left: 0;
}

.allen-karr__info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 175px;
}

.certificate{
    width: 50%;
}

.karr__image{
    width: 70%;
}

.karr__title{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 62px;
    line-height: 100%;
    color: #0F5B91;
}

.karr__title span{
    color: #FE9800;
}

.karr{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 60px;
}

.karr__name{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;
    color: #0F5B91;
}

.who__karr{
    color: #262544;
    font-size: 20px;
    font-family: 'Nunito Sans';
    font-style: normal;
    margin-bottom: 20px;
}

.about__karr-text{
    padding-left: 40px;
}

.about__karr-text ul li {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: #262544;
}

.certificate__slider{
    margin-top: 40px;
    padding: 0 20px;
}

.swiper-slide{
    display: flex;
    justify-content: center;
}

.swiper-button-prev{
    left: 0 !important;
}

.swiper-button-next{
    right: 0 !important;
}

.swiper-button-prev::after {
    content: "" !important;
    background: url('../img/smoking_arrow-prev.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
}

.swiper-button-next::after {
    content: "" !important;
    background: url('../img/smoking_arrow-next.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
}

.contact__popup{
    position: fixed;
    overflow-y: hidden;
    width: 100%;
    height: 100vh;
    padding: 100px 20px 30px;
    display: none;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    z-index: 99999999;

}

.contact__popup-inner{
    padding: 30px 20px;
    margin: 0 auto;
    position: relative;
    max-width: 675px;
    background: -o-linear-gradient(343.22deg, #5CC1D3 9.14%, #064F89 96.46%);
    background: linear-gradient(106.78deg, #5CC1D3 9.14%, #064F89 96.46%);
    -webkit-box-shadow: 0px 10px 20px rgba(54, 58, 120, 0.1);
            box-shadow: 0px 10px 20px rgba(54, 58, 120, 0.1);
    border-radius: 20px;
    
}

.popup__title{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 30px;
}

.popup__title span{
    font-weight: 700;
}

.popup__text{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
}

.popup__text::after{
    position: absolute;
    content: "";
    bottom: -32px;
    background: url('../img/Vector\ 20.svg');
    background-size: cover;
    height: 2px;
    width: 70%;
    left: 90px;
}

.contact__us{
    margin: 80px auto;
    width: 75%;
}

.container__radio {
    display: block;
    position: relative;
    padding-left: 60px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    margin-bottom: 27px;
}
  
  /* Hide the browser's default radio button */
  .container__radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 34px;
    width: 34px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container__radio:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container__radio input:checked ~ .checkmark {
    background-color: #fff;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container__radio input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container__radio .checkmark:after {
    top: 6px;
    left: 6px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #FE9800;
  }

  .contact__form{
    position: relative;  
    width: 100%;
}

.contact__form input{
    padding: 22px 40px 20px 40px;
    border: none;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 27px;
}

.contact__form input:last-child {
    margin-bottom: 41px;
}

.contact__form input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url('../img/calendar.svg') no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
    position: absolute;
    left: 15px;
}

.contact__form::before{
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background-image: url('../img/smoking_user.svg');
    background-size: contain;
    background-repeat: no-repeat;
    left: 15px;
    top: 103px;
}

.contact__form::after{
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background-image: url('../img/smoking_phone.svg');
    background-size: contain;
    background-repeat: no-repeat;
    left: 15px;
    bottom: 58px;
}

input.reg__btn {
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.register__btn-section input.reg__btn{
    margin-left: 0px;
}

.close__btn{
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 30px;
}

.arrow-to__header-mobile{
    display: none;
}

.btn__icon{
    display: none;
}

.allen-karr__info-mobile{
    display: none;
}

.doctor__img::after{
    content: "Терапевт Центра Аллена Карра Дмитрий Колосов";
    position: absolute;
    width: 168px;
    height: 57px;
    right: 0;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 126.9%;
    color: #000000;
    top: 20%;

}

.for__mobile::before{
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    background: url('../img/Ellipse\ 134.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1173px;
    width: 100vw;
}

.for__mobile::after{
    position: absolute;
    content: "";
    right: 0;
    top: 70%;
    background: url('../img/Ellipse\ 136.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 2000px;
    width: 1173px;
    z-index: -1;
}

.reg__btn:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    color:#FFFFFF ;
}

.reg__btn:hover a{
    color:#FFFFFF !important;
}


.tabs>label:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.tabs__another>label:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
